@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Metrophobic&family=Quicksand&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header {
    
    background: linear-gradient(to bottom right, #403a3e, #be5869);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 30px;    
}

.logoKaiteki {
    height: 100%;
}

.navbar,
.navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    gap: 100px;
}

.navbar-list{
    gap: 30px;
}

.navbar-list a{
    color: rgb(182, 187, 187);
    font-size: 14px;
}

.navbar-list li:first-child > a {
    color: var(--text-white);
    font-weight: 600;
}

main{
    background: linear-gradient(to bottom right, #be5869, #403a3e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

#hero{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1{
    font-size: 45px;
    width: 80%;
    min-width: 500px;
    font-weight: 500;
}
.hero-info p{
    font-size: 15px;
    width: 70%;
}

#resumen-info{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resumen-info p{
    font-size: 25px;
    width: 70%;
}